.holder{
	display:flex;
	magin:0;
	padding:0;
	width:600px;
	gap:10px;
	flex-flow:row wrap;
	justify-content:space-between;
}
.inside{
	background-color:green;
	width:60px;
	height:60px;
	marign:0 3px;
}
/* Your CSS Code here. */